**/.o
**/.libs/
**/.deps/
**/.dirstamp
**/Makefile.in
*.o
.libs/
.deps/
.dirstamp
Makefile.in
libltdl
Makefile
src/sst/core/sst.x
src/sst/core/sst
src/sst/core/sstsim.x
src/sst/core/sstinfo
src/sst/core/sstinfo.x
src/sst/core/sst-config
src/sst/core/sst-info
src/sst/core/sst-register
src/sst/SST-*.pc
src/sst/core/sst_config.h
src/sst/core/sst_config.h.in
src/sst/core/sst_config.h.in~
stamp-h1
src/sst/sstsimulator.conf
build_info.h
configure
aclocal.m4
autom4te.cache
config.log
config.status
libtool
.DS_Store
