---
fail_fast: false
repos:
  - repo: meta
    hooks:
      - id: check-hooks-apply
      - id: check-useless-excludes
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: "v4.5.0"
    hooks:
      - id: check-case-conflict
      - id: check-merge-conflict
  - repo: https://github.com/cheshirekow/cmake-format-precommit
    rev: "v0.6.13"
    hooks:
      - id: cmake-format
        args: [--config-files, experimental/.cmake-format.yaml]
        additional_dependencies:
          - pyyaml
      - id: cmake-lint
        additional_dependencies:
          - pyyaml
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: "v12.0.1"
    hooks:
      - id: clang-format
        types_or: [c++, c]
        exclude: |
          (?x)(
              build/|
              src/sst/core/libltdl/|
              external/
          )
  - repo: https://github.com/Mateusz-Grzelinski/actionlint-py
    rev: "v1.6.26.11"
    hooks:
      - id: actionlint
